# Web Scraiping
## Lecutre 05 - 22/09/2023

# What is web scraping?

We have previously been working with datasets using files or accessing public APIs orgnaized by companies or organizations. Web scraping is a technique used to **scrape** the web for whatever data you need.

This could be done manually or automatically using Python :)

# What are the advantages?

* No rate limits
* Fully in control of what data you collect
* Anonymous
* Many websites do not expose a public api!

# But how?

Python has several libraries that can be used to scrape the web, some of there include:
* Scrapy
* **BeautifulSoup**
* Selenium
* **Pandas**

Just to name a few...

These libraries allow you to process or browse the web programatically. Requires some understanding about how the web works.

# HyperText Markup Language

HyperText Markup Language (HTML), is the standard markup language used to create web pages. 

* Used as markup language for basically every website on the internet.
* Developed by the World Wide Web Consortium (W3C).
* Current version: HTML5 is supported by most modern internet browsers.

## Resources

* Lot's of offline and online material available
* For example the Mozilla Developer Network https://developer.mozilla.org
* W3Schools has had a bad reputation but has improved over the years (https://www.w3schools.com/)
* Historical reference: https://www.w3fools.com/

## A simple HTML document
The Hello world version of an HTML document is:

```html
<!DOCTYPE html>
<html>

  <!-- The head tag contains header information about the HTML document. -->
  <head>
    <title>A title for the browser window</title> 
  </head>
  
  <!-- The body tag contains the content of the HTML document. -->
  <body>
    <p>Hello world!</p>
  </body>
  
</html>
```

Save this file as `index.html` and open it with your favorite web browser, e.g. `firefox index.html`


## Syntax

* The HTML file consists of tags, denoted by `<tagname>`
* Most HTML elements are marked by a tag pair (start tag and end tag): `<tagname>content</tagname>`
* Some HTML elements have no content (and hence no end tag): `<img>` or `<br>`
* A tag can have attributes, for example: `<tagname atttribute1="value1" attribute2="value2">`

<img src="https://codewithfaraz.com/img/a%20comprehensive%20list%20of%20html%20tags%20for%20web%20development.png" />

## Comments
Comments are enclosed the `<!-- This is a comment -->` tag:

```html
<!-- This is a multiline comment. 
It will not be rendered. -->
```

-------------------------------
## Formatting

### Headings

In [7]:
%%html

<h1>I am a header</h1>
<h2>I am a sub-header</h2>

## New lines
The HTML code for a newline is `<br>`:

In [8]:
%%html
Hello world<br>New lines   

and spaces        do not matter. Use the br tag instead

## Div
The `<div>` tag in HTML is a container element used for grouping together and applying styles or JavaScript functionalities to a set of elements. 

## Span
Similar to the `<div>` tag but more for text.

In [3]:
%%html

<div>
    <h1>This is a header</h1>
    <br />
    <span>This is some text</span>
</div>

## Special characters

HTML uses special codes to encode special characters, for example for mathematical, technical and currency symbols.
Full list: http://www.w3schools.com/html/html_symbols.asp

Examples:


| Symbol        | HTML entity   |
| ------------- |:-------------:|
| Å             | `&Aring;`     |
| å             | `&aring;`     |
| Ø             | `&Oslash;`    |
| ø             | `&oslash;`    |
| Æ             | `&Aelig;`     |
| æ             | `&aelig;`     |
| '             | `&#34;`       |
| "             | `&quot;`      |
| &amp;         | `&amp;`       |

In [3]:
%%html
<p>
&Aring;s, S&oslash;r-Tr&oslash;ndelag
</p>

## Special characters alternative:

Save your file with UTF-8 encoding (check your editor), and add the character encoding to your HTML document:

```html
<head>
  <meta charset="UTF-8">
</head>
```
Then you can write (almost all) special character directly in the document.

# Paragraphs

In [4]:
%%html
<p>
This is a paragraph.
</p>
<p>
This is another paragraph.
</p>

## Italic text, bold text and links

In [5]:
%%html
<b>Bold text</b>

<br>
<i>Italic text</i>

<br>
<em>Emphasized text</em>

<br>
<a href="http://github.com">This is a link</a>

-------------------------------
## Tables

In [3]:
%%html
<table>
 <tr>
    <th>Name</th>
    <th>Course</th> 
    <th>Points</th>
  </tr>
  <tr>
    <td>John</td>
    <td>GRA4157</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>George</td>
    <td>GRA4157</td> 
    <td>94</td>
  </tr>
</table>

## Links

In [6]:
%%html

<a href="https://www.bi.no" target="_blank">Link to BI<a/>

## Images

In [2]:
%%html
<img src="figs/Rhinoceros.png" alt="D&uuml;rer's Rhinoceros">D&uuml;rer's Rhinoceros

## Styling

Every HTML document has a default style (background color white, text color black). The default style can be changed with the *style attribute*.

```html
<tagname style="property:value;">
```

Multiple properties can be set with:
```html
<tagname style="property1:value; property2:value">
```

Some Valid property options:
* `width`
* `height`
* `color`
* `background-color`
* `font-family`
* `font-size`
* `text-align`

### Examples

In [3]:
%%html
<img src="figs/Rhinoceros.png" alt="D&uuml;rer&#39;s Rhinoceros" style="width:100px;">D&uuml;rer&#39;s Rhinoceros

In [6]:
%%html
<p style="color:blue; background-color:rgb(255,0,255);">
Some colorful text.
</p>

# Processing HTML using Python
HTML is a simple document adhereing to a specific set of standards. As mentioned before, several libraries allow us to process these documents, among which, BeautifulSoup is probably the most popular.

# Installation

With conda, you can install the required dependencies with:

```bash
conda install bs4 requests lxml
```

# Basic usage of BeautifulSoup

First, we import the `BeatifulSoup` class:

In [8]:
from bs4 import BeautifulSoup

We load the html source file from disk and pass the source the the BeautifulSoup constructor. We choose the "lxml" parser for XML documents, which is faster than the defaul parser that comes with BeautifulSoup:

In [13]:
src = open("data/list.html")
soup = BeautifulSoup(src, 'lxml')
print(document)

<!DOCTYPE html>
<html>
<body>
<h2>An Unordered HTML List</h2>
<ul id="unordered_list" style="color:#069">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
<h2>An Ordered HTML List</h2>
<ol id="ordered_list" style="color:#069">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ol>
</body>
</html>

### Finding tags by name

The document now contains the full html document. We can find the first occuring tag with a specific name with the `find` function. Let's find the first un-ordered list tag:

In [18]:
ulist = document.find("ul")

The result contains all tags contained in the matched tag:

In [19]:
ulist

<ul id="unordered_list" style="color:#069">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>

The `find_all` function returns **all** tags that match the given tag name. We can use it to get a list of all list items:

In [20]:
items = ulist.find_all("li")
items

Finally, we can loop over all items and extract their contant with the `get_text` function:

In [21]:
for item in items:
    print(item.get_text())

Coffee
Tea
Milk

Note that `find_all` is **recursive** by default. This means that we could call it the on the full `document` to get the items
of both the ordered and un-ordered lists:

In [24]:
document.find_all("li", recursive=True)

[<li>Coffee</li>,
 <li>Tea</li>,
 <li>Milk</li>,
 <li>Coffee</li>,
 <li>Tea</li>,
 <li>Milk</li>]

### Finding tags by attributes

Sometimes the easiest way to find a tag is by its attribute name. In our examples, both lists have an `id` attribute that uniquely identifies the tables. We can also use the `find*` methods to search for attributes:

In [13]:
document.find_all(attrs={"style":"color:#069"})

[<ul id="unordered_list" style="color:#069">
 <li>Coffee</li>
 <li>Tea</li>
 <li>Milk</li>
 </ul>,
 <ol id="ordered_list" style="color:#069">
 <li>Coffee</li>
 <li>Tea</li>
 <li>Milk</li>
 </ol>]

### Accessing attributes

The `ul` tag also contains a `style` attribute. Any bs4 tag behaves like a dictionary with attribute names as keys and attribute values as values:

In [20]:
ulist.attrs

{'id': 'unordered_list', 'style': 'color:#069'}

In [21]:
ulist["style"]

'color:#069'

# Downloading a table from Wikipedia

We aim to get a list of countries sorted by their population size:
https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population

First, let's import the required modules:

In [14]:
import requests
from bs4 import BeautifulSoup
import re
import dateutil

This time, we load the html source directly from a website using the requests module:

In [15]:
result = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

The web server returns a status code to indicate if the request was (un-)succesfully.
We use that status-code to check if the page was succesfully loaded:

In [16]:
assert result.status_code==200

Next, we extract the html source and initiated BeautifulSoup:

In [17]:
src = result.content
document = BeautifulSoup(src, 'lxml')

by looking at the document, we can see that we are interested in the first table. So we use `find`:

In [18]:
table = document.find("table")

If you are not familiar with html table, read this example first: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table

At this point, it is a good idea to programatically check that the table contains the correct header:

In [20]:
assert table.find("th").get_text() == "Rank"

In [27]:
rows = table.find_all("tr")  # Note: this works because find_all is resursive by default

In [29]:
for row in rows[2:-1]:
    cells = row.find_all(["td", "th"])
    
    cells_text = [cell.get_text(strip=True) for cell in cells]
    (rank, country, region, population, percentage, updated_at, source, comment) = cells_text  
    print(f'{rank}, {country}, {region}, {population}')

1, China, Asia, 1,412,600,000
2, India, Asia, 1,375,586,000
3, United States, North America, 331,893,745
4, Indonesia, Asia[b], 275,773,800
5, Pakistan, Asia, 229,489,000
6, Nigeria, Africa, 216,747,000
7, Brazil, South America, 215,205,023
8, Bangladesh, Asia, 165,158,616
9, Russia, Europe[c], 145,100,000
10, Mexico, North America, 128,533,664
11, Japan, Asia, 125,927,902
12, Philippines, Asia, 112,489,365
13, Ethiopia, Africa, 105,163,988
14, Egypt, Africa[b], 103,891,636
15, Vietnam, Asia, 98,506,193
16, DR Congo, Africa, 95,241,000
17, Iran, Asia, 85,816,454
18, Turkey, Asia[b], 84,680,273
19, Germany, Europe, 84,079,811
20, France, Europe, 67,918,000
21, United Kingdom, Europe, 67,081,234
22, Thailand, Asia, 66,841,617
23, Tanzania, Africa, 61,280,743
24, South Africa, Africa, 60,604,992
25, Italy, Europe, 58,867,239
26, Myanmar, Asia, 55,294,979
27, South Korea, Asia, 51,638,809
28, Colombia, South America, 51,049,498
29, Kenya, Africa, 47,564,296
30, Spain, Europe, 47,432,805
31, Argentina, South America, 47,327,407
32, Algeria, Africa, 45,400,000
33, Sudan, Africa, 44,793,625
34, Uganda, Africa, 42,885,900
35, Iraq, Asia, 41,190,700
36, Ukraine, Europe, 41,130,432
37, Canada, North America, 38,956,473
38, Poland, Europe, 37,996,000
39, Morocco, Africa, 36,735,180
40, Uzbekistan, Asia, 35,797,379
41, Saudi Arabia, Asia, 35,013,414
42, Peru, South America, 33,396,698
43, Angola, Africa, 33,086,278
44, Afghanistan, Asia, 32,890,171
45, Malaysia, Asia, 32,743,000
46, Mozambique, Africa, 31,616,078
47, Yemen, Asia, 31,155,000
48, Ghana, Africa, 30,832,019
49, Ivory Coast, Africa, 29,389,150
50, Venezuela, South America, 29,267,000
51, Nepal, Asia, 29,192,480
52, Madagascar, Africa, 26,923,353
53, Australia, Oceania, 25,974,059
54, North Korea, Asia, 25,660,000
55, Cameroon, Africa, 24,348,251
56, Niger, Africa, 24,112,753
–, Taiwan, Asia, 23,375,314
57, Sri Lanka, Asia, 22,156,000
58, Burkina Faso, Africa, 21,510,181
59, Malawi, Africa, 21,507,723
60, Mali, Africa, 21,474,000
61, Chile, South America, 19,678,363
62, Kazakhstan, Asia[b], 19,317,808
63, Romania, Europe, 19,038,098
64, Zambia, Africa, 18,400,556
65, Syria, Asia, 18,276,000
66, Ecuador, South America, 18,072,560
67, Netherlands, Europe, 17,748,060
68, Senegal, Africa, 17,223,497
69, Guatemala, North America, 17,109,746
70, Chad, Africa, 16,818,391
71, Somalia, Africa, 16,360,000
72, Cambodia, Asia, 15,552,211
73, Zimbabwe, Africa, 15,178,979
74, South Sudan, Africa, 13,249,924
75, Rwanda, Africa, 12,955,768
76, Guinea, Africa, 12,907,395
77, Burundi, Africa, 12,574,571
78, Benin, Africa, 12,506,347
79, Tunisia, Africa, 11,803,588
80, Bolivia, South America, 11,797,257
81, Haiti, North America, 11,743,017
82, Belgium, Europe, 11,671,737
83, Jordan, Asia, 11,308,960
84, Cuba, North America, 11,113,215
85, Dominican Republic, North America, 10,535,535
86, Czech Republic, Europe, 10,493,986
87, Sweden, Europe, 10,493,565
88, Greece, Europe, 10,432,481
89, Portugal, Europe, 10,344,802
90, Azerbaijan, Asia[b], 10,185,784
91, Hungary, Europe, 9,689,000
92, Israel, Asia, 9,583,100
93, Honduras, North America, 9,546,178
94, Tajikistan, Asia, 9,506,000
95, United Arab Emirates, Asia, 9,282,410
96, Belarus, Europe, 9,255,524
97, Papua New Guinea, Oceania, 9,122,994
98, Austria, Europe, 9,061,848
99, Switzerland, Europe, 8,770,283
100, Sierra Leone, Africa, 8,297,882
101, Togo, Africa, 7,886,000
–, Hong Kong(China), Asia, 7,403,100
102, Paraguay, South America, 7,353,038
103, Laos, Asia, 7,337,783
104, Libya, Africa, 7,054,493
105, El Salvador, North America, 6,825,935
106, Serbia, Europe, 6,797,105
107, Lebanon, Asia, 6,769,000
108, Kyrgyzstan, Asia, 6,800,000
109, Nicaragua, North America, 6,595,674
110, Bulgaria, Europe, 6,520,314
111, Turkmenistan, Asia, 6,118,000
112, Denmark, Europe, 5,910,577
113, Congo, Africa, 5,657,000
114, Central African Republic, Africa, 5,633,412
115, Finland, Europe, 5,522,135
116, Singapore, Asia, 5,453,600
117, Norway, Europe, 5,455,582
118, Slovakia, Europe, 5,434,712
119, Palestine, Asia, 5,227,193
120, Costa Rica, North America, 5,163,038
121, New Zealand, Oceania, 5,129,403
122, Ireland, Europe, 5,123,536
123, Kuwait, Asia, 4,670,713
124, Liberia, Africa, 4,661,010
125, Oman, Asia, 4,527,446
126, Panama, North America, 4,278,500
127, Mauritania, Africa, 4,271,197
128, Croatia, Europe, 3,888,529
129, Georgia, Asia[b], 3,688,600
130, Eritrea, Africa, 3,601,000
131, Uruguay, South America, 3,554,915
132, Mongolia, Asia, 3,459,903
133, Bosnia and Herzegovina, Europe, 3,320,954
–, Puerto Rico(United States), North America, 3,285,874
134, Armenia, Asia, 2,963,900
135, Lithuania, Europe, 2,830,097
136, Albania, Europe, 2,829,741
137, Qatar, Asia, 2,799,202
138, Jamaica, North America, 2,734,093
139, Moldova, Europe, 2,597,100
140, Namibia, Africa, 2,550,226
141, Gambia, Africa, 2,487,000
142, Botswana, Africa, 2,410,338
143, Gabon, Africa, 2,233,272
144, Lesotho, Africa, 2,159,000
145, Slovenia, Europe, 2,108,977
146, Latvia, Europe, 1,893,400
147, North Macedonia, Europe, 1,832,696
–, Kosovo, Europe, 1,798,188
148, Guinea-Bissau, Africa, 1,646,077
149, Equatorial Guinea, Africa, 1,505,588
150, Bahrain, Asia, 1,501,635
151, Trinidad and Tobago, North America, 1,367,558
152, Estonia, Europe, 1,331,796
153, East Timor, Asia, 1,317,780
154, Mauritius, Africa, 1,266,334
155, Eswatini, Africa, 1,172,000
156, Djibouti, Africa, 976,107
157, Cyprus, Asia, 918,100
158, Fiji, Oceania, 898,402
159, Comoros, Africa, 758,316
160, Bhutan, Asia, 763,200
161, Guyana, South America, 743,699
162, Solomon Islands, Oceania, 728,041
–, Macau(China), Asia, 683,200
163, Luxembourg, Europe, 645,397
164, Montenegro, Europe, 621,306
–, Western Sahara, Africa, 612,000
165, Suriname, South America, 598,000
166, Cape Verde, Africa, 563,198
167, Malta, Europe, 519,562
168, Belize, North America, 430,191
169, Brunei, Asia, 429,999
170, Bahamas, North America, 393,450
171, Maldives, Asia, 383,135
–, Northern Cyprus, Asia, 382,230
172, Iceland, Europe, 381,370
–, Transnistria, Europe, 306,000
173, Vanuatu, Oceania, 301,295
174, Barbados, North America, 288,000
–, French Polynesia(France), Oceania, 279,890
–, New Caledonia(France), Oceania, 273,674
–, Abkhazia, Asia, 245,424
175, São Tomé and Príncipe, Africa, 214,610
176, Samoa, Oceania, 199,853
177, Saint Lucia, North America, 178,696
–, Guam(United States), Oceania, 153,836
–, Curaçao(Netherlands), North America, 153,671
–, Artsakh, Asia, 148,900
178, Kiribati, Oceania, 120,740
179, Grenada, North America, 113,000
–, Aruba(Netherlands), North America, 111,050
180, Saint Vincent and the Grenadines, North America, 110,696
–, Jersey(British Crown Dependency), Europe, 107,800
181, Micronesia, Oceania, 105,754
182, Tonga, Oceania, 99,532
183, Antigua and Barbuda, North America, 99,337
184, Seychelles, Africa, 99,202
–, U.S. Virgin Islands(United States), North America, 87,146
–, Isle of Man(British Crown Dependency), Europe, 84,069
185, Andorra, Europe, 79,535
186, Dominica, North America, 72,000
–, Cayman Islands(United Kingdom), North America, 65,786
–, Bermuda(United Kingdom), North America, 64,055
–, Guernsey(British Crown Dependency), Europe, 63,124
–, Greenland(Denmark), North America, 56,562
187, Marshall Islands, Oceania, 54,516
188, Saint Kitts and Nevis, North America, 54,072
–, Faroe Islands(Denmark), Europe, 54,000
–, South Ossetia, Asia, 53,532
–, American Samoa(United States), Oceania, 49,710
–, Northern Mariana Islands(United States), Oceania, 47,329
–, Turks and Caicos Islands(United Kingdom), North America, 44,542
–, Sint Maarten(Netherlands), North America, 42,577
189, Liechtenstein, Europe, 39,315
190, Monaco, Europe, 39,150
–, Gibraltar(United Kingdom), Europe, 34,000
191, San Marino, Europe, 33,776
–, Saint Martin(France), North America, 32,489
–, Åland(Finland), Europe, 30,415
–, British Virgin Islands(United Kingdom), North America, 30,000
192, Palau, Oceania, 17,957
–, Cook Islands(New Zealand), Oceania, 15,342
–, Anguilla(United Kingdom), North America, 15,000
193, Nauru, Oceania, 11,832
–, Wallis and Futuna(France), Oceania, 11,369
194, Tuvalu, Oceania, 10,679
–, Saint Barthélemy(France), North America, 10,289
–, Saint Helena, Ascension and Tristan da Cunha(United Kingdom), Africa, 6,000
–, Saint Pierre and Miquelon(France), North America, 5,974
–, Montserrat(United Kingdom), North America, 5,000
–, Falkland Islands(United Kingdom), South America, 4,000
–, Christmas Island(Australia), Oceania, 1,966
–, Norfolk Island(Australia), Oceania, 1,734
–, Niue(New Zealand), Oceania, 1,549
–, Tokelau(New Zealand), Oceania, 1,501
195, Vatican City, Europe, 825
–, Cocos (Keeling) Islands(Australia), Oceania, 573

**Attention**: Beautiful Soup does not execute Javascript. This means that you the code in the Google Chrome inspector might look different to the original source code.

# Another example of downloading a Wikipedia table 

Let's consider another table in a Wikipedia page. This page has a lot more tables, so one challenge will be to pick the right table

https://en.wikipedia.org/wiki/Tiger_Woods


We are interested in extracting these two tables:

![Target Wikipedia tables](figs/wiki_tables.png)

**Exercise**: 

1) Identify the id="The_Players_Championship", by using title = document.find(id="The_Players_Championship")

2) First find all tables below the id in 1) by title.find_all_next('table').

3) Search for headers (th) by table.find('th') for table in tables to identify the "Tournament" header. Remember to use get_text(strip=True)

4) Save all tables with the header "Tournament" into a list tournament_tables. Check the length of the table and reduce it if it is needed.

5) Bonus: Print out the information in the two tables of interest in the terminal

We begin by downloading the webpage and instatiating the BeautifulSoup object:

In [30]:
result = requests.get("https://en.wikipedia.org/wiki/Tiger_Woods")
src = result.content
document = BeautifulSoup(src, 'lxml')

This page contains a lot of tables without specific attributes that would make it difficult to find our table of interest. Further, the same headings of the tables are used for multiple tables, making it difficult to find a table just by its headings:

In [31]:
len(document.find_all("table"))

60

Therefore, we choose another strategy. First, we extract the tag that defines the header just before our tables of interest. That header tag has a unique identifier attribute `id="The_Players_Championship"`. Then we use the `find_all_next` function in BeautifulSoup to extract all following table tags:

In [32]:
title = document.find(id="The_Players_Championship")
tables = title.find_all_next("table")

Now, our tables of interest are the first two tables with the "Tournament" heading. We write a small helper function (a generator https://wiki.python.org/moin/Generators) that returns a table with a given heading:

In [14]:
def find_table_with_heading(tables, heading):
    for table in tables:
        if table.find("th").get_text(strip=True) == heading:
            yield table

Next, we can extract the table rows and columns as usual. We only extract the first two tables, as these are the only ones we were interested in:

In [16]:
tournament_tables = list(find_table_with_heading(tables, "Tournament"))

for table in tournament_tables[:2]:
    for row in table.find_all("tr"):
        cells= row.find_all(["th", "td"])
        print([cell.get_text(strip="True") for cell in cells])

['Tournament', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009']
['The Players Championship', 'T31', 'T35', 'T10', '2', '1', 'T14', 'T11', 'T16', 'T53', 'T22', 'T37', '', '8']
['Tournament', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
['The Players Championship', 'WD', 'WD', 'T40', '1', '', 'T69', '', '', 'T11', 'T30']

In [3]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_numbers'
L = pd.read_html(url)

L is now a list of DataFrames, each item corresponding to a given table in the wikipedia article. To assess the table of interest, one would typically need to do some visual inspection. Let's look for the table with prime numbers:

In [5]:
primes = L[1]
primes

     0    1    2    3    4    5    6    7    8    9
0    2    3    5    7   11   13   17   19   23   29
1   31   37   41   43   47   53   59   61   67   71
2   73   79   83   89   97  101  103  107  109  113
3  127  131  137  139  149  151  157  163  167  173
4  179  181  191  193  197  199  211  223  227  229
5  233  239  241  251  257  263  269  271  277  281
6  283  293  307  311  313  317  331  337  347  349
7  353  359  367  373  379  383  389  397  401  409
8  419  421  431  433  439  443  449  457  461  463
9  467  479  487  491  499  503  509  521  523  541

The index serves no purpose in this example, but we can access out all prime numbers by e.g.

In [6]:
for i in range(10):
    for j in range(10):
        primes.iloc[i,j] # could print or use this

Or alternatively:

In [13]:
primes.values.flatten()

array([  2,   3,   5,   7,  11,  13,  17,  19,  23,  29,  31,  37,  41,
        43,  47,  53,  59,  61,  67,  71,  73,  79,  83,  89,  97, 101,
       103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167,
       173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239,
       241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
       317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397,
       401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467,
       479, 487, 491, 499, 503, 509, 521, 523, 541])

### Let's consider another example:
https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)

In [33]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
L = pd.read_html(url)
df = L[2]
df

    Country/Territory UN Region IMF[1][13]            United Nations[14]  \
    Country/Territory UN Region   Estimate       Year           Estimate
0               World         —   93863851       2021           87461674
1       United States  Americas   25346805       2022           20893746
2               China      Asia   19911593  [n 2]2022           14722801
3               Japan      Asia    4912147       2022            5057759
4             Germany    Europe    4256540       2022            3846414
..                ...       ...        ...        ...                ...
212             Palau   Oceania        244       2022                264
213          Kiribati   Oceania        216       2022                181
214             Nauru   Oceania        134       2022                135
215        Montserrat  Americas          —          —                 68
216            Tuvalu   Oceania         66       2022                 55

               World Bank[15]
          Year       Estimate  Year
0         2020       96100091  2021
1         2020       22996100  2021
2    [n 3]2020       17734063  2021
3         2020        4937422  2021
4         2020        4223116  2021
..         ...            ...   ...
212       2020            258  2020
213       2020            181  2020
214       2020            133  2021
215       2020              —     —
216       2020             63  2021

[217 rows x 8 columns]

Let's search trough the list of DataFrames:

In [8]:
for dfs in L:
    if 'Country/Territory' in dfs.columns:
        df = dfs
        print('Found table')

Found table

In [26]:
df

    Country/Territory UN Region IMF[1][13]            United Nations[14]  \
    Country/Territory UN Region   Estimate       Year           Estimate
0               World         —   93863851       2021           87461674
1       United States  Americas   25346805       2022           20893746
2               China      Asia   19911593  [n 2]2022           14722801
3               Japan      Asia    4912147       2022            5057759
4             Germany    Europe    4256540       2022            3846414
..                ...       ...        ...        ...                ...
212             Palau   Oceania        244       2022                264
213          Kiribati   Oceania        216       2022                181
214             Nauru   Oceania        134       2022                135
215        Montserrat  Americas          —          —                 68
216            Tuvalu   Oceania         66       2022                 55

               World Bank[15]
          Year       Estimate  Year
0         2020       96100091  2021
1         2020       22996100  2021
2    [n 3]2020       17734063  2021
3         2020        4937422  2021
4         2020        4223116  2021
..         ...            ...   ...
212       2020            258  2020
213       2020            181  2020
214       2020            133  2021
215       2020              —     —
216       2020             63  2021

[217 rows x 8 columns]

In [32]:
df.columns

MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (         'UN Region',         'UN Region'),
            (        'IMF[1][13]',          'Estimate'),
            (        'IMF[1][13]',              'Year'),
            ('United Nations[14]',          'Estimate'),
            ('United Nations[14]',              'Year'),
            (    'World Bank[15]',          'Estimate'),
            (    'World Bank[15]',              'Year')],
           )

In [14]:
df[df.columns[4]]

0      87461674
1      20893746
2      14722801
3       5057759
4       3846414
         ...
212         264
213         181
214         135
215          68
216          55
Name: (United Nations[14], Estimate), Length: 217, dtype: object

The table is currently sorted by the IMF estimate. We can sort with any colum. Let's sort by the UN estimate:

In [19]:
df.columns[4]

('United Nations[14]', 'Estimate')

In [20]:
un = df.sort_values(by=df.columns[4], ascending=True)
# equivalent to by = ('United Nations[14], 'Estimate')

In [21]:
un

            Country/Territory UN Region IMF[1][13]       United Nations[14]  \
            Country/Territory UN Region   Estimate  Year           Estimate
133         Equatorial Guinea    Africa      16335  2022              10022
134                     Congo    Africa      15951  2022              10100
65                      Kenya    Africa     114679  2022             101014
63                Puerto Rico  Americas     116762  2022             103138
148                    Rwanda    Africa      12060  2022              10332
..                        ...       ...        ...   ...                ...
64                    Ecuador  Americas     115462  2022              98808
147                   Bahamas  Americas      12627  2022               9908
197  Northern Mariana Islands   Oceania          —     —                  —
204            American Samoa   Oceania          —     —                  —
163                      Guam   Oceania          —     —                  —

          World Bank[15]
     Year       Estimate  Year
133  2020          12269  2021
134  2020          12524  2021
65   2020         110347  2021
63   2020         103138  2020
148  2020          11070  2021
..    ...            ...   ...
64   2020         106166  2021
147  2020          11209  2021
197     —           1182  2019
204     —            709  2020
163     —           5844  2020

[217 rows x 8 columns]

In [25]:
wb = df.sort_values(by=df.columns[6], ascending=True)
wb

          Country/Territory UN Region IMF[1][13]       United Nations[14]  \
          Country/Territory UN Region   Estimate  Year           Estimate
19              Netherlands    Europe    1013595  2022             913865
63              Puerto Rico  Americas     116762  2022             103138
59                   Kuwait      Asia     186610  2022             105949
64                  Ecuador  Americas     115462  2022              98808
68                     Cuba  Americas          —     —             107352
..                      ...       ...        ...   ...                ...
209            Cook Islands   Oceania          —     —                283
211                Anguilla  Americas          —     —                258
135             North Korea      Asia          —     —              15847
194  British Virgin Islands  Americas          —     —               1492
189                Zanzibar    Africa          —     —               1724

          World Bank[15]
     Year       Estimate  Year
19   2020        1018007  2021
63   2020         103138  2020
59   2020         105960  2020
64   2020         106166  2021
68   2020         107352  2020
..    ...            ...   ...
209  2020              —     —
211  2020              —     —
135  2020              —     —
194  2020              —     —
189  2020              —     —

[217 rows x 8 columns]

What goes wrong?

In [28]:
wb[df.columns[6]]

19     1018007.0
63      103138.0
59      105960.0
64      106166.0
68      107352.0
         ...
209          NaN
211          NaN
135          NaN
194          NaN
189          NaN
Name: (World Bank[15], Estimate), Length: 217, dtype: float64

In [29]:
wb[df.columns[6]] = pd.to_numeric(wb[df.columns[6]], errors='coerce')

In [30]:
wb[df.columns[6]]

19     1018007.0
63      103138.0
59      105960.0
64      106166.0
68      107352.0
         ...
209          NaN
211          NaN
135          NaN
194          NaN
189          NaN
Name: (World Bank[15], Estimate), Length: 217, dtype: float64

In [34]:
wb = wb.sort_values(by=df.columns[6], ascending=False)
wb

          Country/Territory UN Region IMF[1][13]             \
          Country/Territory UN Region   Estimate       Year
0                     World         —   93863851       2021
1             United States  Americas   25346805       2022
2                     China      Asia   19911593  [n 2]2022
3                     Japan      Asia    4912147       2022
4                   Germany    Europe    4256540       2022
..                      ...       ...        ...        ...
209            Cook Islands   Oceania          —          —
211                Anguilla  Americas          —          —
135             North Korea      Asia          —          —
194  British Virgin Islands  Americas          —          —
189                Zanzibar    Africa          —          —

    United Nations[14]            World Bank[15]
              Estimate       Year       Estimate  Year
0             87461674       2020     96100091.0  2021
1             20893746       2020     22996100.0  2021
2             14722801  [n 3]2020     17734063.0  2021
3              5057759       2020      4937422.0  2021
4              3846414       2020      4223116.0  2021
..                 ...        ...            ...   ...
209                283       2020            NaN     —
211                258       2020            NaN     —
135              15847       2020            NaN     —
194               1492       2020            NaN     —
189               1724       2020            NaN     —

[217 rows x 8 columns]

### Let's say we want to compute the sum of the GDP in Asia and Compare it to the Americas. We use the IMF estimate for this:

In [36]:
region = df.columns[1]
est = df.columns[2]
A = df[[region,est]]
A

    UN Region IMF[1][13]
    UN Region   Estimate
0           —   93863851
1    Americas   25346805
2        Asia   19911593
3        Asia    4912147
4      Europe    4256540
..        ...        ...
212   Oceania        244
213   Oceania        216
214   Oceania        134
215  Americas          —
216   Oceania         66

[217 rows x 2 columns]

In [37]:
americas = A[A[region] == 'Americas']
americas.head()

   UN Region IMF[1][13]
   UN Region   Estimate
1   Americas   25346805
8   Americas    2221218
10  Americas    1833274
16  Americas    1322740
26  Americas     564277

In [38]:
asia = A[A[region] == 'Asia']

In [39]:
asia_estimation = pd.to_numeric(asia[est], errors='coerce')
americas_estimation = pd.to_numeric(americas[est], errors='coerce')

In [101]:
print('Asia \t', asia_estimation.sum())
print('Americas', americas_estimation.sum())

Asia 	 39851830.0
Americas 33147336.0

In [44]:
sum(asia_estimation)

nan

In [46]:
from numpy import *

In [47]:
sum(asia_estimation)

39851830.0

# Web Scraping Live Demo

Let's scrape http://books.toscrape.com/catalogue/page-1.html