# Installation

With conda, you can install the required dependencies with:

```bash
conda install bs4 requests lxml
```

# Basic usage of BeautifulSoup

First, we import the `BeatifulSoup` class:

In [1]:
from bs4 import BeautifulSoup

We load the html source file from disk and pass the source the the BeautifulSoup constructor. We choose the "lxml" parser for XML documents, which is faster than the defaul parser that comes with BeautifulSoup:

In [3]:
src = open("list.html")
document = BeautifulSoup(src, 'lxml')
print(document)

<!DOCTYPE html>
<html>
<body>
<h2>An Unordered HTML List</h2>
<ul id="unordered_list" style="color:#069">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
<h2>An Ordered HTML List</h2>
<ol id="ordered_list" style="color:#069">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ol>
</body>
</html>

### Finding tags by name

The document now contains the full html document. We can find the first occuring tag with a specific name with the `find` function. Let's find the first un-ordered list tag:

In [4]:
ulist = document.find("ul")

The result contains all tags contained in the matched tag:

In [5]:
ulist

<ul id="unordered_list" style="color:#069">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>

The `find_all` function returns **all** tags that match the given tag name. We can use it to get a list of all list items:

In [5]:
items = ulist.find_all("li")
items

Finally, we can loop over all items and extract their contant with the `get_text` function:

In [6]:
for item in items:
    print(item.get_text())

Coffee
Tea
Milk

Note that `find_all` is **recursive** by default. This means that we could call it the on the full `document` to get the items
of both the ordered and un-ordered lists:

In [7]:
document.find_all("li", recursive=False)

[]

### Finding tags by attributes

Sometimes the easiest way to find a tag is by its attribute name. In our examples, both lists have an `id` attribute that uniquely identifies the tables. We can also use the `find*` methods to search for attributes:

In [8]:
document.find(attrs={"id":"unordered_list"})

<ul id="unordered_list" style="color:#069">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>

### Accessing attributes

The `ul` tag also contains a `style` attribute. Any bs4 tag behaves like a dictionary with attribute names as keys and attribute values as values:

In [9]:
ulist.attrs

{'id': 'unordered_list', 'style': 'color:#069'}

In [10]:
ulist["style"]

'color:#069'

# Downloading a table from Wikipedia

We aim to get a list of countries sorted by their population size:
https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population

First, let's import the required modules:

In [7]:
import requests
from bs4 import BeautifulSoup
import re
import dateutil

This time, we load the html source directly from a website using the requests module:

In [8]:
result = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

The web server returns a status code to indicate if the request was (un-)succesfully.
We use that status-code to check if the page was succesfully loaded:

In [9]:
assert result.status_code==200

Next, we extract the html source and initiated BeautifulSoup:

In [10]:
src = result.content
document = BeautifulSoup(src, 'lxml')

by looking at the document, we can see that we are interested in first table. So we use `find`:

In [11]:
table = document.find("table")

If you are not familiar with html table, read this example first: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro

At this point, it is a good idea to programatically check that the table contains the correct header:

In [12]:
assert table.find("th").get_text() == "Rank"

In [13]:
rows = table.find_all("tr")  # Note: this works because find_all is resursive by default

In [29]:
for row in rows[2:-1]:
    cells = row.find_all(["td", "th"])
    
    cells_text = [cell.get_text(strip=True) for cell in cells]
    (rank, country, region, population, percentage, updated_at, source, comment) = cells_text  
    print(f'{rank}, {country}, {region}')

1, China, Asia
2, India, Asia
3, United States, North America
4, Indonesia, Asia[b]
5, Pakistan, Asia
6, Nigeria, Africa
7, Brazil, South America
8, Bangladesh, Asia
9, Russia, Europe[c]
10, Mexico, North America
11, Japan, Asia
12, Philippines, Asia
13, Ethiopia, Africa
14, Egypt, Africa[b]
15, Vietnam, Asia
16, DR Congo, Africa
17, Iran, Asia
18, Turkey, Asia[b]
19, Germany, Europe
20, France, Europe
21, United Kingdom, Europe
22, Thailand, Asia
23, Tanzania, Africa
24, South Africa, Africa
25, Italy, Europe
26, Myanmar, Asia
27, South Korea, Asia
28, Colombia, South America
29, Kenya, Africa
30, Spain, Europe
31, Argentina, South America
32, Algeria, Africa
33, Sudan, Africa
34, Uganda, Africa
35, Iraq, Asia
36, Ukraine, Europe
37, Canada, North America
38, Poland, Europe
39, Morocco, Africa
40, Uzbekistan, Asia
41, Saudi Arabia, Asia
42, Peru, South America
43, Angola, Africa
44, Afghanistan, Asia
45, Malaysia, Asia
46, Mozambique, Africa
47, Yemen, Asia
48, Ghana, Africa
49, Ivory Coast, Africa
50, Venezuela, South America
51, Nepal, Asia
52, Madagascar, Africa
53, Australia, Oceania
54, North Korea, Asia
55, Cameroon, Africa
56, Niger, Africa
–, Taiwan, Asia
57, Sri Lanka, Asia
58, Burkina Faso, Africa
59, Malawi, Africa
60, Mali, Africa
61, Chile, South America
62, Kazakhstan, Asia[b]
63, Romania, Europe
64, Zambia, Africa
65, Syria, Asia
66, Ecuador, South America
67, Netherlands, Europe
68, Senegal, Africa
69, Guatemala, North America
70, Chad, Africa
71, Somalia, Africa
72, Cambodia, Asia
73, Zimbabwe, Africa
74, South Sudan, Africa
75, Rwanda, Africa
76, Guinea, Africa
77, Burundi, Africa
78, Benin, Africa
79, Tunisia, Africa
80, Bolivia, South America
81, Haiti, North America
82, Belgium, Europe
83, Jordan, Asia
84, Cuba, North America
85, Dominican Republic, North America
86, Czech Republic, Europe
87, Sweden, Europe
88, Greece, Europe
89, Portugal, Europe
90, Azerbaijan, Asia[b]
91, Hungary, Europe
92, Israel, Asia
93, Honduras, North America
94, Tajikistan, Asia
95, United Arab Emirates, Asia
96, Belarus, Europe
97, Papua New Guinea, Oceania
98, Austria, Europe
99, Switzerland, Europe
100, Sierra Leone, Africa
101, Togo, Africa
–, Hong Kong(China), Asia
102, Paraguay, South America
103, Laos, Asia
104, Libya, Africa
105, El Salvador, North America
106, Serbia, Europe
107, Lebanon, Asia
108, Kyrgyzstan, Asia
109, Nicaragua, North America
110, Bulgaria, Europe
111, Turkmenistan, Asia
112, Denmark, Europe
113, Congo, Africa
114, Central African Republic, Africa
115, Finland, Europe
116, Singapore, Asia
117, Norway, Europe
118, Slovakia, Europe
119, Palestine, Asia
120, Costa Rica, North America
121, New Zealand, Oceania
122, Ireland, Europe
123, Kuwait, Asia
124, Liberia, Africa
125, Oman, Asia
126, Panama, North America
127, Mauritania, Africa
128, Croatia, Europe
129, Georgia, Asia[b]
130, Eritrea, Africa
131, Uruguay, South America
132, Mongolia, Asia
133, Bosnia and Herzegovina, Europe
–, Puerto Rico(United States), North America
134, Armenia, Asia
135, Lithuania, Europe
136, Albania, Europe
137, Qatar, Asia
138, Jamaica, North America
139, Moldova, Europe
140, Namibia, Africa
141, Gambia, Africa
142, Botswana, Africa
143, Gabon, Africa
144, Lesotho, Africa
145, Slovenia, Europe
146, Latvia, Europe
147, North Macedonia, Europe
–, Kosovo, Europe
148, Guinea-Bissau, Africa
149, Equatorial Guinea, Africa
150, Bahrain, Asia
151, Trinidad and Tobago, North America
152, Estonia, Europe
153, East Timor, Asia
154, Mauritius, Africa
155, Eswatini, Africa
156, Djibouti, Africa
157, Cyprus, Asia
158, Fiji, Oceania
159, Comoros, Africa
160, Bhutan, Asia
161, Guyana, South America
162, Solomon Islands, Oceania
–, Macau(China), Asia
163, Luxembourg, Europe
164, Montenegro, Europe
–, Western Sahara, Africa
165, Suriname, South America
166, Cape Verde, Africa
167, Malta, Europe
168, Belize, North America
169, Brunei, Asia
170, Bahamas, North America
171, Maldives, Asia
–, Northern Cyprus, Asia
172, Iceland, Europe
–, Transnistria, Europe
173, Vanuatu, Oceania
174, Barbados, North America
–, French Polynesia(France), Oceania
–, New Caledonia(France), Oceania
–, Abkhazia, Asia
175, São Tomé and Príncipe, Africa
176, Samoa, Oceania
177, Saint Lucia, North America
–, Guam(United States), Oceania
–, Curaçao(Netherlands), North America
–, Artsakh, Asia
178, Kiribati, Oceania
179, Grenada, North America
–, Aruba(Netherlands), North America
180, Saint Vincent and the Grenadines, North America
–, Jersey(British Crown Dependency), Europe
181, Micronesia, Oceania
182, Tonga, Oceania
183, Antigua and Barbuda, North America
184, Seychelles, Africa
–, U.S. Virgin Islands(United States), North America
–, Isle of Man(British Crown Dependency), Europe
185, Andorra, Europe
186, Dominica, North America
–, Cayman Islands(United Kingdom), North America
–, Bermuda(United Kingdom), North America
–, Guernsey(British Crown Dependency), Europe
–, Greenland(Denmark), North America
187, Marshall Islands, Oceania
188, Saint Kitts and Nevis, North America
–, Faroe Islands(Denmark), Europe
–, South Ossetia, Asia
–, American Samoa(United States), Oceania
–, Northern Mariana Islands(United States), Oceania
–, Turks and Caicos Islands(United Kingdom), North America
–, Sint Maarten(Netherlands), North America
189, Liechtenstein, Europe
190, Monaco, Europe
–, Gibraltar(United Kingdom), Europe
191, San Marino, Europe
–, Saint Martin(France), North America
–, Åland(Finland), Europe
–, British Virgin Islands(United Kingdom), North America
192, Palau, Oceania
–, Cook Islands(New Zealand), Oceania
–, Anguilla(United Kingdom), North America
193, Nauru, Oceania
–, Wallis and Futuna(France), Oceania
194, Tuvalu, Oceania
–, Saint Barthélemy(France), North America
–, Saint Helena, Ascension and Tristan da Cunha(United Kingdom), Africa
–, Saint Pierre and Miquelon(France), North America
–, Montserrat(United Kingdom), North America
–, Falkland Islands(United Kingdom), South America
–, Christmas Island(Australia), Oceania
–, Norfolk Island(Australia), Oceania
–, Niue(New Zealand), Oceania
–, Tokelau(New Zealand), Oceania
195, Vatican City, Europe
–, Cocos (Keeling) Islands(Australia), Oceania

**Attention**: Beautiful Soup does not execute Javascript. This means that you the code in the Google Chrome inspector might look different to the original source code.

# Another example of downloading a Wikipedia table 

Let's consider another table in a Wikipedia page. This page has a lot more tables, so one challenge will be to pick the right table

https://en.wikipedia.org/wiki/Tiger_Woods


We are interested in extracting these two tables:

![Target Wikipedia tables](pictures/wiki_tables.png)

**Exercise**: 

1) Identify the id="The_Players_Championship", by using title = document.find(id="The_Players_Championship")

2) First find all tables below the id in 1) by title.find_all_next('table').

3) Search for headers (th) by table.find('th') for table in tables to identify the "Tournament" header. Remember to use get_text(strip=True)

4) Save all tables with the header "Tournament" into a list tournament_tables. Check the length of the table and reduce it if it is needed.

5) Bonus: Print out the information in the two tables of interest in the terminal

We begin by downloading the webpage and instatiating the BeautifulSoup object:

In [11]:
result = requests.get("https://en.wikipedia.org/wiki/Tiger_Woods")
src = result.content
document = BeautifulSoup(src, 'lxml')

This page contains a lot of tables without specific attributes that would make it easy to find our table of interest. Further, the same headings of the tables are used for multiple tables, making it difficult to find a table just by its headings:

In [12]:
len(document.find_all("table"))

60

Therefore, we choose another strategy. First, we extract the tag that defines the header just before our tables of interest. That header tag has a unique identifier attribute `id="The_Players_Championship"`. Then we use the `find_all_next` function in BeautifulSoup to extract all following table tags:

In [13]:
title = document.find(id="The_Players_Championship")
tables = title.find_all_next("table")

Now, our tables of interest are the first two tables with the "Tournament" heading. We write a small helper function (a generator https://wiki.python.org/moin/Generators) that returns a table with a given heading:

In [14]:
def find_table_with_heading(tables, heading):
    for table in tables:
        if table.find("th").get_text(strip=True) == heading:
            yield table

Next, we can extract the table rows and columns as usual. We only extract the first two tables, as these are the only ones we were interested in:

In [16]:
tournament_tables = list(find_table_with_heading(tables, "Tournament"))

for table in tournament_tables[:2]:
    for row in table.find_all("tr"):
        cells= row.find_all(["th", "td"])
        print([cell.get_text(strip="True") for cell in cells])

['Tournament', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009']
['The Players Championship', 'T31', 'T35', 'T10', '2', '1', 'T14', 'T11', 'T16', 'T53', 'T22', 'T37', '', '8']
['Tournament', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
['The Players Championship', 'WD', 'WD', 'T40', '1', '', 'T69', '', '', 'T11', 'T30']